<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All"
    [(ngModel)]="radioButtonSelection"
    (change)="radioButtonSelectedFunc(radioButtonSelection)" />
    <span>All Courses ({{all}})</span>

    <input type="radio" name="filter" value="Free" 
    [(ngModel)]="radioButtonSelection"
    (change)="radioButtonSelectedFunc(radioButtonSelection)"/>
    <span>Free Courses ({{Free}})</span>

    <input type="radio" name="filter" value="Premium" 
    [(ngModel)]="radioButtonSelection"
    (change)="radioButtonSelectedFunc(radioButtonSelection)"/>
    <span>Premium Courses ({{Premium}})</span>

</div>
